@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #95a5a6;
	background-color: #e6eaed;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: #118ff3;
	font-size: 144px;
	text-align: center;
}
h2 {
	color: #118ff3;
	font-weight:bold;
	text-align:left;
	margin-left: 10px;
}
p {
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 20px;
	color: navy;
}
a {
	color: goldenrod;
}
a:visited {
	color: navy;
}
#navbar ul {
	list-style: none;
	padding: 0;
}
li {
	color: navy;
}
.main {
  margin-top: 72px;
}
#navbar {
	background-color: navy;
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-top: 0;
	top: 0px;
}

#navbar-container {
	position: relative;
	float: left;
	left: 50%;
	display: block;
}

#navbar-container ul {
	position: relative;
	float: left;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	right: 50%;
}
#navbar-container ul li{
	float: left;
}
#navbar-container li a:link, li a:visited {
  background-color: navy;
  color: #118ff3;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#navbar-container a:hover, li a:active {
  background-color: #118ff3;
  color: navy;
}
#nav-link {
	margin-right: 0px;
	margin-top: 0px;
}
#nav-link a:link, a:visited {
  background-color: #118ff3;
  color: navy;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:260px;
}
#nav-link a:hover, a:active {
  background-color: #272727;
  color: dodgerblue;
}
.paraleft {
		text-align: left;
}
.paracenter {
		text-align: center;
}
.pararight {
		text-align: right;
}
.parajustify {
		text-align: justify;
}
#showlist {
	text-align: left;
	float:right;
	left: 50%;	
}
#showlist li a {
	text-decoration: none;
	color: dodgerblue;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#showlist li {
	color: black;
}
#showlist h4 a {
	color: darkgoldenrod;
	text-decoration:none;
	
}
#link {
	margin-right: 15px;
	margin-top: 15px;
}
#link a:link, a:visited {
  background-color: #118ff3;
  color: navy;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:260px;
}
#link a:hover, a:active {
  background-color: navy;
  color: #118ff3;
  font-weight: bold;
}
.resume p {
		font-size: 12px;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-bottom: 5px;
		margin-top: 0px;
}
.resume li {
		font-size: 12px;
		text-align: left;
}
.resume ul {
	list-style: square;
	padding: 10px;
	margin-left: 15px;
}
.resume h2 {
		color: navy;
		font-size: 16px;
}
.img1 img{
	max-height: 108px;
	max-width: 108px;
	
}
.highlight {
		background-color: yellow;
}
footer {
		margin-left: 20px;
		color: maroon;
}
