@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #95a5a6;
	background-color:  #e6eaed;
	text-align: center-left;
	margin-left: 5em;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color:  #118ff3;
	/*background-color: teal;*/
	text-align: center;
	}
h2{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bold;
	font-style: normal;
	color: navy;
	/*background-color: teal;*/
	text-align: center-left;
	}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 450;
	font-style: normal;
	color: navy;
	text-align: left;
	}
img {
	max-width: 300px;
	max-height: auto;
	width: 300px;
	height: auto;
	
	}
table {
	border-collapse: collapse;

	}	
th {
	text-align: left;
	min-width: 200px;
	}
td {
	text-align: right;
	}
.column {
		float: left;
		width: 50%;
		}
.row:after {
		content: "";
		display: table;
		clear: both;
}
#navbar {
	background-color: navy;
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-top: 0;
	top: 0px;
}

#navbar-container {
	position: relative;
	float: left;
	left: 50%;
	display: block;
}

#navbar-container ul {
	position: relative;
	float: left;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	right: 50%;
}
#navbar-container ul li{
	float: left;
}
#navbar-container li a:link, li a:visited {
  background-color: #118ff3;
  color: navy;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#navbar-comtainer a:hover, li a:active {
  background-color: navy;
  color: #118ff3;
}
.title{font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color:  #118ff3;
	/*background-color: teal;*/
	text-align: center;
}